*
!16_97s.eqdsk
!VDE_DW_li0.6_715ms.eqdsk
!.gitignore
!EQ3.eqdsk
!EQX40.eqdsk
!g900003_00230_ITER_15MA_eqdsk16HR.txt
!ose_8.equ
!testov5.sp3
!testov5.txt
!VDE_DW_li0.6_675ms.eqdsk
!VDE_DW_li0.7_600ms.eqdsk
!VDE_DW_li0.7_650ms.eqdsk
!VDE_DW_li0.8_610ms.eqdsk
!VDE_DW_li0.8_670ms.eqdsk
!VDE_DW_q2.0.eqdsk
