*
!val1_notes.txt
!val3_notes.txt
!val4_notes.txt
!tests.bash
!Data
!References/
!References/**
!.gitignore
!tests_clean.bash
!tests_diff.bash
!tests_cp.bash
!README
!testQ.bash
!tests_cpart.bash
!tests_difpart.bash
!lgpl-3.0.txt
!LICENCE.txt
