*
!baf.ctl
!bafsy.ctl
!bot.ctl
!botsy.ctl
!dshal.vtk
!fewtets.vtk
!fw1234567.ctl
!fw17p3.ctl
!fw263t1.ctl
!fw263t.ctl
!fw264t.ctl
!fw26r3t1.ctl
!fw26r3t.ctl
!fw3t.ctl
!fw4t.ctl
!fw5t.ctl
!fwr3t1.ctl
!fwr3t2.ctl
!fwr3t.ctl
!iter.vtk
!mesh10mm_onlyfront.vtk
!mesh30mm.vtk
!nfw1.vtk
!wall.vtk
!wdpdd06_mesh30mm_tfm1.ctl
!.gitignore
!bott.ctl
!baff.ctl
!inres1.vtk
!inres3.vtk
!inrshad1.vtk
!res12.vtk
!resf14r.vtk
!sha12.vtk
!shado14r.vtk
!mjg.ctl
!mjgx9r_powx.vtk
!mjgx9r.vtk
