*
!beancan.ctl
!beancan_RZ.dat
!beancansy.ctl
!dome_outrefl_skeleton_july2012.ctl
!dome_outrefl_skeleton_july2012_R_modif2.dat
!dome_outrefl_skeleton_july2012sy.ctl
!dome_outrefl_skeleton_july2012_Z_modif2.dat
!entire_row_50mm.dat
!fw18.ctl
!FW18_R.dat
!fw18sy.ctl
!FW18_Z.dat
!FW1.dat
!FW2.dat
!FW3_5mm.dat
!FW3.dat
!FW4_2mm.dat
!FW4.dat
!FW5_5mm.dat
!FW5.dat
!FW6.dat
!FW7.dat
!wdpdd06_mesh10mm_onlyfront.dat
!wdpdd06_mesh30mm.dat
!.gitignore
!wdfd03_shaped_mesh10mm.dat
